<%- include("../includes/head.ejs")  %>
    <div class="add-post-con">
        <div class="login-con sucess">
                <h1>Subscription Successfull.</h1>
                <a href="/admin/profile">Go to profile</a>
        </div>
    </div>
<%- include("../includes/foot.ejs") %>