<%- include("../includes/head.ejs")  %>
    <div class="add-post-con">
        <div class="login-con">
            <h1>Sending reset password link to your email address.</h1>
            <div class="feedback">
                <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">Click to open gamil.</a>
                <a href="/">Go back home</a>
            </div>
        </div>
    </div>
<%- include("../includes/foot.ejs") %>