<%- include("../includes/head.ejs")  %>
    <div class="add-post-con">
        <div class="login-con">
            <div class="add-title-con">
                <h1>Reset password</h1>
            </div>
            <form action="/reset" method="post">
                <input name="_csrf" value="<%= csrfToken %>" hidden>
                <% if(errorMsg) { %>
                    <p><%= errorMsg %></p>
                <% } %>
                <div class="con">
                    <label for="title">Email</label>
                    <input type="email" name="email" required>
                </div>
                <button class="post-btn">Reset password</button>
            </form>
        </div>
    </div>
<%- include("../includes/foot.ejs") %>